.container {
  display: grid;
  grid-template-areas:
    "sidebar topbar"
    "sidebar home-content";
  grid-template-columns: auto 1fr; /* Sidebar com largura automática e o resto para o conteúdo */
  grid-template-rows: auto 1fr; /* Topbar com altura automática e o resto para o conteúdo */
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  grid-area: sidebar;
}

.topbar {
  grid-area: topbar;
}

.home-content {
  grid-area: home-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
}

.tabela-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 900px;
  background-color: #c0c0c0a2;
  border-radius: 10px;
}

.tabela-format span {
  font-weight: bold;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.tabela th,
.tabela td {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

thead {
  background-color: #3a86ff;
  color: white;
}

tbody {
  background-color: white;
}
.tabela th:first-child,
.tabela td:first-child {
  border-left: 1px solid #ddd;
}

.tabela th:last-child,
.tabela td:last-child {
  border-right: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #eceaea; /* Cor de fundo das linhas pares */
}
